data/
documentation/
src/AWS_scripts/AWS_start.sh
src/AWS_scripts/AWS_CA/AWS_start.sh
calculations/OsmoticP/data/
results/Animations/
prikey.rtf
data/
documentation/
calculations/OsmoticP/data/
results/Animations_old/
other/
expts/